.logo {
    flex:1 1 100px;
 }

 nav {
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    background-color: #1F2937;
    overflow: auto;
    height: auto;
    text-decoration:none;
    font-size:18px;
    padding-top:10px;
 }

 .randombox  {
     display: flex;
     font-size:12px;
     margin-right:20%;
     margin-left:20%;

 }

 .randombox div {
    flex-shrink: inherit;
    margin-left:10px;
    margin-right:10px;
    vertical-align: top;
    
    text-align: center;
    width: 25%;
    align-content:center;
}

img {
    width: 130px;
    height: 130px;
    
}

.random img {
    border-radius:12px;
    border: 2px solid #3882F6;
}

.random {
    background-color:white;
    padding-top:50px;
    padding-bottom:50px;
    width:100%;
    margin: auto;
}

.calltoaction {
    background-color:white;
    
    padding-top:30px;
    padding-bottom:30px;
    height:20%;
}

.wraparound {
    border-radius:12px;
    border: 2px solid #3882F6;
    background-color:#3882F6;
    color:white;
    display:flex;
    margin-left:20%;
    margin-right:20%;
    padding: 30px;
    width:60%;
}

.wraparound div {
    flex-grow: 1;
}

.cta {
    width:75%;
}

.ctabutton{
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 12px;
    color:white;
}

.but {
    margin: auto;
    align-items: center;
    justify-content: center;
    width:15%;
}

.ctabutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.caption {
    display: block;
}

.container.item
{
    flex: 1;
    text-align:center;
}

 nav a {
     text-decoration:none;
     text-transform:lowercase;
     color:white;
     font-size:16px;
     margin-right:15px;
 }

 nav .logo {
    color:white;
    font-size:18px;
    margin-left:15px;
 }

 .header {
     display:flex;
     margin-top:100px;
     margin-bottom:100px;
     margin-right:20%;
     margin-left:20%;
     color:#f9faf8;
 }

 .header div{
     flex-grow:1;
 }

 .header button {
     background-color:#3882F6;
     color: white;
     border: none;
     text-align: center;
     padding: 12px 28px;
     font-weight:bold;
     border-radius: 12px;
}
 

 button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }

 .item1{
     width:75%;
 }

 .item1 p {
     font-size:18px;
 }

 .item2 img{
     min-height:75%;
     min-width:75%;
 }

 .name {
    text-align: right;
    font-weight: bold;
    color: #1F2937;
    margin-top:-10px;
    margin-right:80px;
  }

  .testimonial {
      background-color: #E5E7EB;
      padding-top:40px;
      padding-right:150px;
      padding-left:150px;
      padding-bottom:40px;
  }

  .box2
  {
    justify-content: center;
    font-weight:lighter;
    font-style:italic;
    margin-left:50px;
  }

  .footer {
      text-align:center;
      color:white;
      margin-top:20px;
      margin-bottom:20px;
  }

  